src/main/resources/wsdl/WSST247_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WSST247" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="WSST247.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="WSST247_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSST247_MolST247Consultas_InputMessage">
    <wsdl:part name="parameters" element="tns:MolST247Consultas"/>
  </wsdl:message>
  <wsdl:message name="IWSST247_MolST247Consultas_OutputMessage">
    <wsdl:part name="parameters" element="tns:MolST247ConsultasResponse"/>
  </wsdl:message>
  <wsdl:message name="IWSST247_MolST247Transacciones_InputMessage">
    <wsdl:part name="parameters" element="tns:MolST247Transacciones"/>
  </wsdl:message>
  <wsdl:message name="IWSST247_MolST247Transacciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:MolST247TransaccionesResponse"/>
  </wsdl:message>
  <wsdl:portType name="IWSST247">
    <wsdl:operation name="MolST247Consultas">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSST247/MolST247Consultas" message="tns:IWSST247_MolST247Consultas_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IWSST247/MolST247ConsultasResponse" message="tns:IWSST247_MolST247Consultas_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="MolST247Transacciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSST247/MolST247Transacciones" message="tns:IWSST247_MolST247Transacciones_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IWSST247/MolST247TransaccionesResponse" message="tns:IWSST247_MolST247Transacciones_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Basic" type="tns:IWSST247">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MolST247Consultas">
      <soap:operation soapAction="http://tempuri.org/IWSST247/MolST247Consultas" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MolST247Transacciones">
      <soap:operation soapAction="http://tempuri.org/IWSST247/MolST247Transacciones" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSST247">
    <wsdl:port name="Basic" binding="tns:Basic">
      <soap:address location="http://nxpaiqaws01.nexussa.cl/WST247_BANCO/WSST247.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>